project:
  type: website
  output-dir: docs
execute: 
  freeze: auto
    
website:
  title: "SOCIOL 208"
  search: true
  open-graph: true
  repo-url: https://github.com/olizardo/SOCIOL208
  repo-actions: [source]
  sidebar:
    style: "docked"
    contents:
      - text: "Home"
        href: index.qmd
      - section: "208A"
        contents: 
          - href: syllabus-208A.qmd
          - href: schedule-208A-F24.qmd
          - section: "Lecture Notes"
            contents:
              - section: "Basic Concepts"
                contents:
                - href: basic.qmd
                - href: basic-dir.qmd
                - href: ego.qmd
                - href: eigen.qmd
                - href: random-walk.qmd
              - section: "Centrality"
                contents: 
                - href: degcent.qmd
                - href: closcent.qmd
                - href: betcent.qmd
                - href: cube.qmd
                - href: edgecent.qmd
                - href: tm-centrality.qmd
              - section: "Status and Prestige"
                contents: 
                - href: prestige.qmd
                - href: pagerank.qmd
                - href: hits.qmd
                - href: prestige-ml.qmd
                - href: tm-prestige.qmd
              - section: "Equivalence and Similarity"
                contents:
                - href: structequiv.qmd
                - href: similarity.qmd
                - href: blondel.qmd
                - href: tm-similarity.qmd
              - section: "Communities and Clustering"
                contents:
                  - href: community.qmd
                  - href: spectral.qmd
                  - href: tm-community-ca.qmd
                  - href: tm-spectral.qmd
                  - href: ca.qmd
                  - href: ahn.qmd
              - section: "Two-Mode Networks"
                contents:
                  - href: tm-basic.qmd
                  - href: tm-duality.qmd
                  - href: tm-ca.qmd
                  - href: tm-reflections.qmd
                  - href: tm-fitness.qmd
                  - href: tm-null.qmd
                  - href: backbone.qmd
              - section: "Statistical Models"
                contents: 
                  - href: swap.qmd
                  - href: qap.qmd
                  - href: ergm1.qmd
                  - href: ergm2.qmd
          - section: "Data Management"
            contents:
              - href: loading.qmd
              - href: network-lists.qmd
              - href: subgraph-select.qmd
      - section: "208B"
        contents:
        - href: syllabus-208B.qmd
        - href: schedule-208B-S24.qmd

format:
  html:
    theme:
      light: flatly
      dark: darkly    
    css: styles.css
    toc: true
    linkcolor: "#ff7e26;"
    
bibliography: networks.bib
editor: source
